<%- include('partials/head') -%>
<%- include('partials/header') -%>
  <div class="container">
    <a class="btn btn-primary" href="/profile">Got to profile</a>
    <a class="btn btn-primary" href="/login">Login</a>
    <a class="btn btn-primary" href="/signup">Sign up</a>

    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-3 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
            <a href="/profile/<%= posts[i].userName%>"><%= posts[i].userName %></a>

          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>